### Build ###
.gradle/
build/
out/
bin/
!**/src/main/**/out/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.springBeans
.sts4-cache
.factorypath
.apt_generated

### OS ###
.DS_Store
Thumbs.db

### VS Code ###
.vscode/

### Logs ###
*.log
logs/
log/



# 임시 / 캐시 폴더
target/
.tmp/
.env

### Gradle Wrapper ###
gradlew.bat
gradlew

### Tests ###
test-output/
!**/src/main/**/test-output/
!**/src/test/**/test-output/

### Others ###

WEEK01/
WEEK02/
HELP.md


# Application secrets
application.yml
*.yaml
*.yml
